@{
    ViewData["Title"] = "Home";
}

<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="css/bootstrap.css" />
    </head>
    <body>
        <h1>
            Welcome to your Deck Archief.
        </h1>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="Home">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="Brands">
                            Brands
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Collections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Decks">Decks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Producers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wishlists</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search" data-np-intersection-state="visible">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
        <script src="js/bootstrap.js"></script>
    </body>
</html>